@import url('http://fonts.cdnfonts.com/css/graphik');

.payvice__navbar {
    padding: 20px 0;
}

.payvice__logo {
    width: 100px;
}

@media only screen and (max-width:1024px) {
    .payvice__logo {
        width: 50px;
    }
}

.payvice__body__box {
    max-width: 620px;
    background: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    padding: 3em 3em 1em;
}

@media only screen and (max-width: 1024px) {
    .payvice__body__box {
        max-width: 400px;
        margin: auto;
        padding: 15px
    }
}

.payvice__body__box .payvice__image {
    width: 60%;
}

@media only screen and (max-width: 1024px) {
    .payvice__body__box .payvice__image {
        width: 40%;
    }
}

.payvice__body__box .payvice__fail__image {
    width: 10%;
}

@media only screen and (max-width: 1024px) {
    .payvice__body__box .payvice__fail__image {
        width: 10%;
    }
}

.payvice__body__box p {
    font-family: "graphik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #050038;
}

@media only screen and (max-width: 1024px) {
    .payvice__body__box p {
        font-size: 12px;
    }
}

.payvice__body__box .failure {
    font-family: "graphik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}

@media only screen and (max-width: 1024px) {
    .payvice__body__box .failure {
        font-size: 12px;
    }
}

.payvice__body__box .button {
    margin-bottom: 70px;
    background: #1B449B;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    font-family: "graphik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 100px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .payvice__body__box .button {
        padding: 6px 9px;
        font-size: 12px;
    }
}

.payvice__footer {
    background-color: #ffffff;
    padding: 20px auto;
    margin-top: 100px;
    overflow: hidden;
}

